.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 5rem;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  
  color: #222;
   
}

.pageContent {
  flex: 1;
  padding: 1.5rem;
 /* background-image: url('../assets/bg.jpg'); */
 background-repeat: no-repeat;
 background-size: cover;
}
